
<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Simplifying your it needs</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-layers.min.js"></script>
		<script src="assets/js/init.js"></script>
		
			<link rel="stylesheet" href="assets/css/skel.css" >
			<link rel="stylesheet" href="assets/css/style.css">
			<link rel="stylesheet" href="assets/css/style-xlarge.css" >
		
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="/home"><img src="https://i.imgur.com/Mh7P4Uf.png" alt="" /></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/support">Tech Support</a></li>
						<li><a href="/portfolio">Portfolio</a></li>
						<li><a href="/services">Services</a></li>
                        <li><a href="/contactus" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Innovative  Blue </blue> IT</h2> 
				<p>Simplifying your IT needs. <br/> <br/>
                630.800.4170 <br/>
INFO@INNOVATIVEBLUEIT.COM</p>
				<ul class="actions">
					<li>
						<a href="#" class="button big">Learn More</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Areas Covered</h2>
						<p>Although we try to cover as many areas as possible, here are the 3 main situations we attend!
                        <br/> Don't forget to check out our Services tab as well.
                        </p>
                        
					</header>
					<div class="row 150%">
						<div class="4u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color1 fa-globe"></i>
								<h3>WEB AND APPLICATIONS</h3>
                                <p><b>ASSESSING YOUR WEB PRESENCE</b> <br/> <br/> We analyze solutions in order for our customers to reach their goals in Return On Investment and Cost of Ownership scenarios. We also offer improvement services where needed.</p>
							</section>
						</div>
						<div class="4u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color10 fa-desktop"></i>
								<h3>IT SERVICES</h3>
								<p><b>ADDRESSING YOUR IT AND BUSINESS NEEDS</b> <br/> <br/> We handle a wide array of technology needs. Anything from office networking to app development. Remote assistance and maintenance memberships are also available.</p>
							</section>
						</div>
						<div class="4u$ 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color6 fa-sitemap"></i>
								<h3>PROCESS ANALYSIS</h3>
								<p><b>IMPROVING YOUR OPERATIONS</b> <br/> <br/> We analyze business processes to measure efficiency and suggest improvements. It’s our job to make sure you and your staff can do yours.</p>
							</section>
						</div>
					</div>
				</div>
			</section>

		

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Contact Us</h2>
						<p>Navigate through our website to find information or use the form below to contact us!</p>
					</header>
				</div>
				<div class="container 50%">
					<form action="#" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="name" id="name" value="" placeholder="Name" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="email" id="email" value="" placeholder="Email" type="email">
							</div>
							<div class="12u$">
								<textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Send Message" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

	<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Contact US!
    
</h3>
								
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>(O) (630)800-4170</h3>
								
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>(C) (630)854-0196</h3>
								
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3><a href = "mailto:info@innovativeblueit.com">info@innovativeblueit.com </a></h3>
								
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>