<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Portfolio</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-layers.min.js"></script>
		<script src="assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="assets/css/skel.css" />
			<link rel="stylesheet" href="assets/css/style.css" />
			<link rel="stylesheet" href="assets/css/style-xlarge.css" />
		</noscript>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/home"><img src="https://i.imgur.com/Mh7P4Uf.png" alt="" /></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/support">Tech Support</a></li>
						<li><a href="/portfolio">Portfolio</a></li>
						<li><a href="/services">Services</a></li>
                        <li><a href="/contactus" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Portfolio</h2>
						<p>Take a glance at some of our past projects</p>
					</header>
                   
									<ul class="alt">
                                        <li> <h3>Mobile Web Presence</h3> <br/><h5>MyDalicious Indian Restaurant </h5>  <br/> <img src="https://i.imgur.com/8xFFlhN.png" alt="" /> <img src="https://i.imgur.com/N1zcomW.png" alt="" /> <img src="https://i.imgur.com/V25UkIh.png" alt="" /> <br/> <br/><br/>Complete Website build with mobile calling and Google Maps integration </li>
                                        
                                        
                                        
										<li><h3>Full end to end networking</h3> <br/> <h5>Low Voltage Installation</h5>  <br/> <img src="https://i.imgur.com/FbfSEvZ.png" alt="" /> <img src="https://i.imgur.com/ElPSyGR.png" alt="" /> <img src="https://i.imgur.com/6MdqwmH.png" alt="" /> <br/> <br/><br/>Complete camera system design and installation. Remote access capabilities available depending on the system application</li>
                                        
                                        
                                        
                                        
										<li><h3>Web Presence</h3> <br/> <h5>Villa Entertainment</h5>  <br/> <img src="https://i.imgur.com/hPWsNtF.png" alt="" /> <img src="https://i.imgur.com/pDnC6Uy.png" alt="" /> <br/> <br/><br/>Complete Website build with mobile calling and Video Gallery. Check it out <a href ="http://www.villaprodj.com/services.html" > Here </a></li>
                                        
                                        
                                        <li><h3>Full Camera System Installations</h3> <br/> <h5>Remote Access</h5>  <br/> <img src="https://i.imgur.com/oA4XXQ2.png" alt="" /> <img src="https://i.imgur.com/jgUWlFM.png" alt="" /> 
                                            <br/> <br/><br/>Full camera system design and installation. Remote access available as system capable.</li>
                                        
                                        <li><h3>Office and Business Support</h3> <br/> <h5>Smart Payments</h5>  <br/> <img src="https://i.imgur.com/NdsMMer.jpg" alt="" /> <img src="https://i.imgur.com/5UG7CZY.jpg" alt="" /> <img src="https://i.imgur.com/H6wGNJa.jpg" alt="" />
                                            <br/> <br/><br/>Office reconfiguration, moves, and technology enhancements.</li>
                                        
									</ul>
                    
                    
                    
                    


							
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Contact US!
    
</h3>
								
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>(O) (630)800-4170</h3>
								
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>(C) (630)854-0196</h3>
								
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3><a href = "mailto:info@innovativeblueit.com">info@innovativeblueit.com </a></h3>
								
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
	</body>
</html>