<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Services</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-layers.min.js"></script>
		<script src="assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="assets/css/skel.css" />
			<link rel="stylesheet" href="assets/css/style.css" />
			<link rel="stylesheet" href="assets/css/style-xlarge.css" />
		</noscript>
	</head>
	<body>

			<!-- Header -->
			<header id="header">
				<h1><a href="/home"><img src="https://i.imgur.com/Mh7P4Uf.png" alt="" /></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/support">Tech Support</a></li>
						<li><a href="/portfolio">Portfolio</a></li>
						<li><a href="/services">Services</a></li>
                        <li><a href="/contactus" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Services</h2>
						<p>There are two very common scenarios in today’s IT staff structure, each with their own specific set of challenges. Our job is to help your business bridge the gap between your business and its technology needs</p>
					</header>
                    
                    <h4>Scenario 1</h4>
							<p><span class="image left"><i class="icon big rounded color1 fa-dashboard"></i></span>Your business has minimal internal IT staff that are burdened with the day to day tasks of keeping your business running. Leaving them with little to no time to focus on innovation and process improvement. This scenario also fosters a "break/fix" technology environment that can quickly affect your customer service, sales, and payroll.
<br/>
We will work hand in hand with your current staff as well as bring in the relevant experts/partners to complete your technology endeavors..</p>
                    <br/>
                                <br/>
                                <br/>
                    
                    <h4>Scenario 2</h4>
							<p><span class="image right"><i class="icon big rounded color1 fa-pie-chart"></i></span>A portion or all of your IT services have been outsourced. Leaving little, or very limited IT knowledge. This scenario can easily create and foster a "break/fix" technology environment that can quickly affect your customer service, sales, and payroll.
<br/>
Our consultant team takes a look at the IT outsourcing to ensure it is being used to its full potential, eliminating wasteful or unnecessary services.  Our experts also provide your business with insight on effectively managing information systems, and tips for future development.</p>
                    <br/>
                     <br/>
                     <br/>
				


					

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Lorem ipsum dolor</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Nesciunt itaque, alias possimus</a></li>
									<li><a href="#">Optio rerum beatae autem</a></li>
									<li><a href="#">Nostrum nemo dolorum facilis</a></li>
									<li><a href="#">Quo fugit dolor totam</a></li>
								</ul>
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>Culpa quia, nesciunt</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Reiciendis dicta laboriosam enim</a></li>
									<li><a href="#">Corporis, non aut rerum</a></li>
									<li><a href="#">Laboriosam nulla voluptas, harum</a></li>
									<li><a href="#">Facere eligendi, inventore dolor</a></li>
								</ul>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Neque, dolore, facere</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Distinctio, inventore quidem nesciunt</a></li>
									<li><a href="#">Explicabo inventore itaque autem</a></li>
									<li><a href="#">Aperiam harum, sint quibusdam</a></li>
									<li><a href="#">Labore excepturi assumenda</a></li>
								</ul>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Illum, tempori, saepe</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Recusandae, culpa necessita nam</a></li>
									<li><a href="#">Cupiditate, debitis adipisci blandi</a></li>
									<li><a href="#">Tempore nam, enim quia</a></li>
									<li><a href="#">Explicabo molestiae dolor labore</a></li>
								</ul>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>