<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Tech Support</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/skel-layers.min.js"></script>
		<script src="assets/js/init.js"></script>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/home"><img src="https://i.imgur.com/Mh7P4Uf.png" alt="" /></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="/support">Tech Support</a></li>
						<li><a href="/portfolio">Portfolio</a></li>
						<li><a href="/services">Services</a></li>
                        <li><a href="/contactus" class="button special">Contact Us</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Tech Support</h2>
						<p>Follow these instructions to have access to our live tech support (instructions shown in google chrome)</p>
					</header>

							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Step</th>
											<th>Description</th>
											<th>Image</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Click the gear icon in the next column to begin your download.</td>
											<td><a href="http://download3.showmypc.com/ShowMyPC3500.exe" download><i class="icon big rounded color1 fa-gear"></i></a></td>
										</tr>
										<tr>
											<td>2</td>
											<td>A download will be completed.</td>
											<td><img src="https://i.imgur.com/MrjSs4Z.png" alt="" /></td>
										</tr>
										<tr>
											<td>3</td>
											<td> Once your download has completed, please install and run the application.</td>
											<td><img src="https://i.imgur.com/Ls7TDBf.png" alt="" /> </td>
										</tr>
										<tr>
											<td>4</td>
											<td>Run and install the application</td>
											<td><img src="https://i.imgur.com/PfKN8PS.png" alt="" /></td>
										</tr>
										<tr>
											<td>5</td>
											<td>Application should auto run otherwise find and open “showmypc” on your computer, once open click “Show My PC”.</td>
											<td><img src="https://i.imgur.com/MWFYejb.png" alt="" /></td>
										</tr>
                                        
                                        <tr>
											<td>6</td>
											<td> Select “Allow” when prompted for Trusted Remote User.</td>
											<td><img src="https://i.imgur.com/FVXagWE.png" alt="" /></td>
										</tr>
                                         <tr>
											<td>7</td>
											<td> Email Code to rep.</td>
											<td><img src="https://i.imgur.com/gpeEHh2.png" alt="" /></td>
										</tr>
                                        
                                        
                                       
									</tbody>
									<tfoot>
										<tr>
											<td colspan="2"></td>
											<td>Of course! Our friendly and knowledgeable customer services reps are available to answer your questions 24/7/365 </td>
										</tr>
									</tfoot>
								</table>
							</div>
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Contact US!
    
</h3>
								
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>(O) (630)800-4170</h3>
								
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>(C) (630)854-0196</h3>
								
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
                                <h3><a href = "mailto:info@innovativeblueit.com">info@innovativeblueit.com </a></h3>
								
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>